<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Hospital2AdministrationSolutions -->
      <package
            uri="platform:/resource/Hospital2AdministrationSolutions/model/Hospital2AdministrationSolutions.ecore"
            class="Hospital2AdministrationSolutions.Hospital2AdministrationSolutionsPackage"
            genModel="model/Hospital2AdministrationSolutions.genmodel"/>
   </extension>

</plugin>
