<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="HospitalExampleTarget.HospitalExampleTargetPackage" genModel="model/HospitalExampleTarget.genmodel" uri="platform:/resource/HospitalExampleTarget/model/HospitalExampleTarget.ecore"/>
  </extension>
</plugin>
